  <%= render "shared/nav" %>
        <!-- Header-->
        <header class="bg-yey py-5">
            <div class="container px-5">
                <div class="row gx-5 justify-content-center">
                    <div class="col-lg-8">
                        <div class="text-center my-5">
                            <h1 class="display-5 fw-bolder ttrr text-white mb-2">Find the perfect editor for your next book</h1>
                            <p class="lead text-white fw-bold tttt  mb-4">“Everybody walks past a thousand story ideas every day. The good writers are the ones who see five or six of them. Most people don’t see any.” </p>
                            <div class="d-grid gap-3 d-sm-flex justify-content-sm-center">
                                <a class="btn btn-success btn-lg px-4 me-sm-3" href="/contact">Get In Touch</a>
                                <a class="btn btn-outline-light btn-lg px-4" href="/article">View Blog</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </header>
        <!-- Features section-->
        <section class="py-5 border-bottom" id="features">
            <div class="container px-5 my-5">
                <div class="row gx-5">
                    <div class="col-lg-4 mb-5 mb-lg-0">
                        <div class="feature bg-success bg-gradient text-white rounded-3 mb-3"><i class="bi bi-collection"></i></div>
                        <h2 class="h4 fw-bolder">Featured title</h2>
                        <p>Paragraph of text beneath the heading to explain the heading. We'll add onto it with another sentence and probably just keep going until we run out of words.</p>
                        <a class="text-decoration-none text-success" href="#!">
                            Call to action
                            <i class="bi bi-arrow-right text-success"></i>
                        </a>
                    </div>
                    <div class="col-lg-4 mb-5 mb-lg-0">
                        <div class="feature bg-success bg-gradient text-white rounded-3 mb-3"><i class="bi bi-building"></i></div>
                        <h2 class="h4 fw-bolder">Featured title</h2>
                        <p>Paragraph of text beneath the heading to explain the heading. We'll add onto it with another sentence and probably just keep going until we run out of words.</p>
                        <a class="text-decoration-none text-success" href="#!">
                            Call to action
                            <i class="bi bi-arrow-right text-success"></i>
                        </a>
                    </div>
                    <div class="col-lg-4">
                        <div class="feature bg-success bg-gradient text-white rounded-3 mb-3"><i class="bi bi-toggles2"></i></div>
                        <h2 class="h4 fw-bolder">Featured title</h2>
                        <p>Paragraph of text beneath the heading to explain the heading. We'll add onto it with another sentence and probably just keep going until we run out of words.</p>
                        <a class="text-decoration-none text-success" href="#!">
                            Call to action
                            <i class="bi bi-arrow-right text-success"></i>
                        </a>
                    </div>
                </div>
            </div>
        </section>
       
       
        <%= render "shared/footer" %>
       